# --- Archivos de Datos (Privacidad) ---
*.csv
*.xls
*.xlsx
*.txt
*.log

# --- Python Portable y Entornos Virtuales ---
# Carpetas comunes de Python
Sistema_Python/
WPy64*/
python*/
venv/
env/
.venv/
Lib/
Libs/
Scripts/
Include/
share/
tcl/

# --- Archivos Binarios y del Sistema Python ---
*.exe
*.dll
*.pyd
*.lib
python*.zip
pyvenv.cfg
._pth

# --- Archivos compilados y caché ---
__pycache__/
*.pyc
*.pyo

# --- IDEs y Sistema Operativo ---
.vscode/
.idea/
.DS_Store
Thumbs.db